/* 
* {
    border: 1px solid red;
}
*/
body {
    margin: 0;
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana;
}

header {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

a {
    color: Aquamarine;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

#camp {
    margin-bottom: 20px;
}

footer {
    text-align: right;
    color: gray;
    font-size: 21px;
    padding: 10px;
}